Assets/AssetStoreTools*
Build/
Library/
LocalCache/
Obj/
Temp/
UnityGenerated/
sysinfo.txt
*.pidb.meta
ExportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.zip
